// colors
$bgDark: #191b1f;
$bgNormal: #202328;
$bgLight: #31363c;
$bgHighlight: #004F80;

$fgDark: #384c61;
$fgNormal: #849DB8;
$fgLight: #9FE9FF;
$fgHighlightedText: #CBDFF3;

$fgError: orangered;
$fgWarning: orange;
$fgUpdated: springgreen;
$highlightActive: chocolate;

// other
$spacing: 3px;
$fontFamily: 'Ebrima';
$fontSmall: 8pt;
$fontDefault: 11pt;
$fontTitle: 12pt;
$fontHeader: 14pt;
$fontMax: 18pt;
$titleShadow: 3px;